@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .progress-container {
    @apply block relative box-border overflow-hidden w-full max-w-[500px] h-[36px] rounded-[0.5em] border-solid border-[0.15em] border-[#242b35] bg-gradient-to-b from-[#191c23] to-[#2d3341] font-mono;
    font-size: clamp(0.625em, 7.5vw, 2rem);
  }
  .progress-bar {
    @apply block h-full rounded-[0.35em];
    background: 
      linear-gradient(rgba(226,102,76,0.65), transparent) left/50% 100% no-repeat,
      repeating-linear-gradient(135deg, #a22215 0 0.25em, #be2a20 0 0.5em) left/50% 100% no-repeat,
      /* linear-gradient(rgba(226,102,76,0.65), transparent) right/50% 100% no-repeat, */
      repeating-linear-gradient(135deg, #38761d 0 0.25em, #54a72f 0 0.5em) right/50% 100% no-repeat;
    box-shadow: inset 0 0.05em 0.05em rgba(255, 255, 255, 0.35);
  }
  .progress-bar-mask {
    @apply absolute right-0 top-0 z-10 block h-full bg-gradient-to-b;
  }
}
